@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Dosis');
             #bg{
                background-image: url(/Users/yuni/Desktop/team6/final_sprint4/resultBg.jpeg);
                height: 100vh;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
            
            *{
                margin: 0;
                font-family: 'Dosis';
            }
            #banner{
                height: 100px;
            }

            h1{
                float: left;
                font-family: 'Monoton', cursive;
                font-size: 45pt;
                padding: 0px 10px;
                color: white;
                
            }
            #page-space {
                background-color: #ffffff;
                height: 550px;
                width: 100%; 
                 opacity: 0.9;
                box-shadow: 3px 3px 15px rgb(0,0,0,0.4);
            }

            #main-container {
                text-align: center;
                font-family: 'Roboto';
                margin: 0 auto;
                
            }

            #res-text-1 {
                margin-top: 40px;
                font-size: 40pt;
                letter-spacing: 0.05em;
                font-weight: 600;
            }

            #result-container {
                margin: 20px;
                font-size: 18px;
            }

            #res-text-2 {
                margin-top: 20px;
                font-size: 20pt;
                font-weight: 400;
            }

            #result-container-2 {
                margin: 20px;
                font-size: 18px;
            }

            #button-container, #carbon-button-container {
                padding-top: 30px;
                text-align: right;
                height: 100px;
            }

            .button { 
                padding: 20px;
                background-color: white;
                margin: 14px 5px;
                cursor: pointer;
                font-size: 17px;
                display: inline-block;
                border: none;
            }

            .button a {
                color: white;
                text-decoration: none;
            }

            .button:hover {
                color: white;
                background-color: grey;
            }

            .button:hover a{
                color: white;
                background-color: grey;
                text-decoration: underline;
            }
          #btnLogout {
                float: right;
            }
            
            /* END components in white box */
            
            
            #footer {
                position: fixed;
                bottom: 0;
                width: 100%;
                letter-spacing: 0.2em;
                color: dimgray;
                background-color: white;
                font-size: 10px;
                padding: 8px;
            }

.recommend{
    width: 80%;
    height: 100px;
    padding-top: 5px;
    margin: 0 auto;
    background-color: black;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.4);
}
#result-container, #result-container-2{
    text-align: left;
}

#modoLogo, #evoLogo {
    height: 100%;
    display: inline-block;
    float: left;
    padding-right: 30px;    
}

.company{
    font-size: 17pt;
    float: left;
    font-weight: 600;
}

.link{
    float: right;
    color: white;
    margin-right: 10px;
    margin-top: 20px;
}

.link:hover{
    color: forestgreen;
}


#carbonResults{
   background-color: white;
   margin: 0 43% 0 43%;
   box-shadow: 5px 5px 10px rgb(0, 102, 0, 0.4);
}
#carbonResults a{
    color: black;
}

#carbonResults:hover a{
    color: forestgreen;
    background-color: white;
    text-decoration: underline;
}
