@import url('https://fonts.googleapis.com/css?family=Monoton');
            
            body{
                background-image: url(/Users/sherryguo/Desktop/final_sprint3/bg.jpeg);
            }
            *{
                margin: 0;
            }
            #banner{
                height: 100px;
            }
            h1{
                float: left;
                font-family: 'Monoton', cursive;
                font-size: 45pt;
                padding: 0px 10px;
                color: white;
                
            }
            
            #page-space {
                background-color: #ffffff;
                height: 550px;
                width: 100%; 
            }

            #main-container {
                text-align: center;
                
            }

            #button-container {
                padding-top: 30px;
                text-align: center;
                height: 100px;
            }

            .button { 
                padding: 20px;
                background-color: #38b48b;
                margin: 14px 5px;
                cursor: pointer;
                font-size: 17px;
                display: inline-block;
            }

            .button a {
                color: white;
                text-decoration: none;
            }

            .button:hover {
                color: white;
                background-color: turquoise;
            }

            .button:hover a{
                color: white;
                background-color: turquoise;
                text-decoration: underline;
            }

            #result-container {
                margin-top: 40px;
                padding: 20px;
                border-style: double;
            }
            