@import url('https://fonts.googleapis.com/css?family=Monoton');
            
body{
    background-image: url(/Users/sherryguo/Desktop/final_sprint3/bg.jpeg);
}
*{
    margin: 0;
}
#banner{
    height: 100px;
}
h1{
    float: left;
    font-family: 'Monoton', cursive;
    font-size: 45pt;
    padding: 0px 10px;
    
}
#nav{
    float: right;
    margin-right: 5%;
}
th{
    padding: 25px 35px;
}

#buttonToScroll{
    text-align: center;
    margin: 20px;
}
#buttonToScroll img{
    width: 60px;
}
#textBox{
    box-shadow: 5px 5px 5px 5px #4b4f4d;
    margin: 0px auto;
    width: 100%;
    height:450px;
    background-color:white;
    opacity: 0.9;
}
#content{
    margin: 0px auto;
    clear: both;
    padding-bottom: 35px;
}
#content td {
    padding: 20px;
}
